.input-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.exercise-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  color: rgba(82, 39, 39, 0.623);
  background: rgba(191, 222, 226, 0.349);
  border-radius: 12px;
}

#search-bar {
  padding-left: 2vh;
  border-radius: 20px;
  border-width: 1px;
  height: 7vh;
  width: 70%;
  font-size: large;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container-search-components {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-container-search-components > button {
  margin-left: 1vh;
}

.btn {
  height: 50%;
  border-radius: 20px;
  border-width: 0;
  padding: 1.5vh;
  text-decoration: none;
  background: rgba(2, 98, 243, 0.699);
  color: rgb(243, 235, 221);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.btn:hover {
  background: rgba(2, 98, 243, 0.959);
  border-color: rgb(111, 121, 129);
  border-width: 1px;
  border-style: solid;
}
